body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.herobox , .infobox, .quotebox, .signupbox {
    width: 200px;
    background-color: grey;
    border-color: black;
    border-style:solid;
    padding: 15px;
}