body {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 0px 15%;
  }

    .header-left {
    font-size: 24px;
    color: #f9faf8;
   
    }

    .header-right {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    font-size: 18px;
    color: #e5e7eb;
    }
  
  .body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .description-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 15%;
    background-color: #1f2937;
    color: white;
  }

    .description-section img {
    width: 450px;
    height: auto;
    }

  .info-section {
    text-align: center;
    padding: 50px 15% 90px;
  }

    .info-title {
    margin-bottom: 32px;
    font-size: 24px;
    }
  
    .info-content {
    display: flex;
    justify-content: center;
    gap: 52px;
    }

    .info {
    max-width: 200px;
    }

    .info img{
    width: 150px;
    height: auto;
    border: 1px solid;
    border-color: black;
    }
  
  .quote-section {
    display: flex;
    justify-content: center;
    padding: 50px 15%;
    background-color: lightgray;
  }

    .quote-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
      }

    .quote-quote {
      max-width: 1000px;
      font-size: 24px;
      text-align: left;
    }

    .quote-signature {
      text-align: right;
    }

  .action-section {
    margin: 50px 15%;
    padding: 30px 0px;
    background-color: blue;
    color: white;
  } 

    .action-content {
    display: flex;
    justify-content: center;
    gap: 250px;
      }

    .action-section .text .title {
      font-size: 30px;
      text-align: left;
    }

    .action-section .button {
      display: flex;
      justify-content: center;
      align-items: center;
    }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 15%;
    color: white;
    background-color: #1f2937;


  }
